Solicita.TG/Solicita.TG.UI.View/Service References/RequerimentoService/Solicita.TG.Servi%C3%A7os.Aluno.Modelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Aluno.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Aluno.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" />
  <xs:complexType name="AlunoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" base="q1:EntityModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Matricula" nillable="true" type="tns:AlunoModel.MatriculaModel" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sobrenome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlunoModel" nillable="true" type="tns:AlunoModel" />
  <xs:complexType name="AlunoModel.MatriculaModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoIngresso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CargaHorária" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Turno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlunoModel.MatriculaModel" nillable="true" type="tns:AlunoModel.MatriculaModel" />
</xs:schema>