Solicita.TG/Solicita.TG.UI.View/Service References/CursoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CursoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.cursoService.Modelos" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.DisciplinaService.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICursoService_Criar_InputMessage">
    <wsdl:part name="parameters" element="tns:Criar" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Criar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_ListarCursosDoAluno_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCursosDoAluno" />
  </wsdl:message>
  <wsdl:message name="ICursoService_ListarCursosDoAluno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCursosDoAlunoResponse" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Salvar_InputMessage">
    <wsdl:part name="parameters" element="tns:Salvar" />
  </wsdl:message>
  <wsdl:message name="ICursoService_Salvar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarResponse" />
  </wsdl:message>
  <wsdl:portType name="ICursoService">
    <wsdl:operation name="Criar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/Criar" message="tns:ICursoService_Criar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/CriarResponse" message="tns:ICursoService_Criar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/Get" message="tns:ICursoService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/GetResponse" message="tns:ICursoService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/Listar" message="tns:ICursoService_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/ListarResponse" message="tns:ICursoService_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/Excluir" message="tns:ICursoService_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/ExcluirResponse" message="tns:ICursoService_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCursosDoAluno">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/ListarCursosDoAluno" message="tns:ICursoService_ListarCursosDoAluno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/ListarCursosDoAlunoResponse" message="tns:ICursoService_ListarCursosDoAluno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Salvar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICursoService/Salvar" message="tns:ICursoService_Salvar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICursoService/SalvarResponse" message="tns:ICursoService_Salvar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICursoService" type="tns:ICursoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Criar">
      <soap:operation soapAction="http://tempuri.org/ICursoService/Criar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/ICursoService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/ICursoService/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICursoService/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCursosDoAluno">
      <soap:operation soapAction="http://tempuri.org/ICursoService/ListarCursosDoAluno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Salvar">
      <soap:operation soapAction="http://tempuri.org/ICursoService/Salvar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CursoService">
    <wsdl:port name="BasicHttpBinding_ICursoService" binding="tns:BasicHttpBinding_ICursoService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os.cursoService/CursoService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>