Solicita.TG/Solicita.TG.UI.View/Service References/CursoService/Solicita.TG.Servi%C3%A7os.cursoService.Modelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.cursoService.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.cursoService.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.DisciplinaService.Modelos" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" />
  <xs:complexType name="CursoModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" base="q1:EntityModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CargaHoraria" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.DisciplinaService.Modelos" minOccurs="0" name="GradeCurricular" nillable="true" type="q2:ArrayOfDisciplinaModel" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CursoModel" nillable="true" type="tns:CursoModel" />
  <xs:complexType name="ArrayOfCursoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CursoModel" nillable="true" type="tns:CursoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCursoModel" nillable="true" type="tns:ArrayOfCursoModel" />
</xs:schema>