Solicita.TG/Solicita.TG.UI.View/Service References/DisciplinaService/Solicita.TG.Servi%C3%A7os.DisciplinaService.Modelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.DisciplinaService.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.DisciplinaService.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" />
  <xs:complexType name="DisciplinaModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" base="q1:EntityModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CargaHoraria" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisciplinaModel" nillable="true" type="tns:DisciplinaModel" />
  <xs:complexType name="ArrayOfDisciplinaModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisciplinaModel" nillable="true" type="tns:DisciplinaModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisciplinaModel" nillable="true" type="tns:ArrayOfDisciplinaModel" />
</xs:schema>