Solicita.TG/SOLICITA.TG.UI/Service References/ProfessorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfessorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Professor.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfessorService_CriarProfessor_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarProfessor" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_CriarProfessor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarProfessorResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_CriarProfessor_MyServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" name="detail" element="q1:MyServiceFault" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_ListarTodosProfessores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosProfessores" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_ListarTodosProfessores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosProfessoresResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IProfessorService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfessorService">
    <wsdl:operation name="CriarProfessor">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/CriarProfessor" message="tns:IProfessorService_CriarProfessor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/CriarProfessorResponse" message="tns:IProfessorService_CriarProfessor_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProfessorService/CriarProfessorMyServiceFaultFault" name="MyServiceFaultFault" message="tns:IProfessorService_CriarProfessor_MyServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodosProfessores">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/ListarTodosProfessores" message="tns:IProfessorService_ListarTodosProfessores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/ListarTodosProfessoresResponse" message="tns:IProfessorService_ListarTodosProfessores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorService/Get" message="tns:IProfessorService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorService/GetResponse" message="tns:IProfessorService_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfessorService" type="tns:IProfessorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarProfessor">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/CriarProfessor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyServiceFaultFault">
        <soap:fault use="literal" name="MyServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTodosProfessores">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/ListarTodosProfessores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IProfessorService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfessorService">
    <wsdl:port name="BasicHttpBinding_IProfessorService" binding="tns:BasicHttpBinding_IProfessorService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/Professor/ProfessorService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>