Solicita.TG/SOLICITA.TG.UI/Service References/ProfessorService/Solicita.TG.Servi%C3%A7os.Professor.Modelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Professor.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Professor.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProfessorModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfessorModel" nillable="true" type="tns:ProfessorModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfessorModel" nillable="true" type="tns:ArrayOfProfessorModel" />
  <xs:complexType name="ProfessorModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cordenador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sobrenome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfessorModel" nillable="true" type="tns:ProfessorModel" />
</xs:schema>