Solicita.TG/Solicita.TG.UI.View/Service References/AlunoService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Aluno.Modelos" />
  <xs:element name="Criar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sobrenome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Periodo" type="xs:int" />
        <xs:element minOccurs="0" name="Turno" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Curso" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Aluno.Modelos" minOccurs="0" name="ListarResult" nillable="true" type="q2:ArrayOfAlunoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Salvar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q3:guid" />
        <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sobrenome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RG" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Periodo" type="xs:int" />
        <xs:element minOccurs="0" name="Turno" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Curso" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Aluno.Modelos" minOccurs="0" name="GetResult" nillable="true" type="q6:AlunoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByRAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Aluno.Modelos" minOccurs="0" name="GetByRAResult" nillable="true" type="q7:AlunoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>