Solicita.TG/Solicita.TG.UI.View/Service References/AlunoService/Solicita.TG.Servi%C3%A7os.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MyServiceFault">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Message" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyServiceFault" nillable="true" type="tns:MyServiceFault" />
  <xs:complexType name="EntityModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityModel" nillable="true" type="tns:EntityModel" />
</xs:schema>