Solicita.TG/Solicita.TG.UI.View/Service References/DashboardService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DashboardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Dashboard.Modelos" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDashboardService_CriarGraficoDeVolumetriaAnual_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarGraficoDeVolumetriaAnual" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_CriarGraficoDeVolumetriaAnual_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarGraficoDeVolumetriaAnualResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_CriarGraficoDeVolumetriaMensal_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarGraficoDeVolumetriaMensal" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_CriarGraficoDeVolumetriaMensal_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarGraficoDeVolumetriaMensalResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GraficoQuantidadePorTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:GraficoQuantidadePorTipo" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_GraficoQuantidadePorTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GraficoQuantidadePorTipoResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_ResumoAtual_InputMessage">
    <wsdl:part name="parameters" element="tns:ResumoAtual" />
  </wsdl:message>
  <wsdl:message name="IDashboardService_ResumoAtual_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResumoAtualResponse" />
  </wsdl:message>
  <wsdl:portType name="IDashboardService">
    <wsdl:operation name="CriarGraficoDeVolumetriaAnual">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/CriarGraficoDeVolumetriaAnual" message="tns:IDashboardService_CriarGraficoDeVolumetriaAnual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/CriarGraficoDeVolumetriaAnualResponse" message="tns:IDashboardService_CriarGraficoDeVolumetriaAnual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CriarGraficoDeVolumetriaMensal">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/CriarGraficoDeVolumetriaMensal" message="tns:IDashboardService_CriarGraficoDeVolumetriaMensal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/CriarGraficoDeVolumetriaMensalResponse" message="tns:IDashboardService_CriarGraficoDeVolumetriaMensal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GraficoQuantidadePorTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/GraficoQuantidadePorTipo" message="tns:IDashboardService_GraficoQuantidadePorTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/GraficoQuantidadePorTipoResponse" message="tns:IDashboardService_GraficoQuantidadePorTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResumoAtual">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardService/ResumoAtual" message="tns:IDashboardService_ResumoAtual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardService/ResumoAtualResponse" message="tns:IDashboardService_ResumoAtual_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDashboardService" type="tns:IDashboardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarGraficoDeVolumetriaAnual">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/CriarGraficoDeVolumetriaAnual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CriarGraficoDeVolumetriaMensal">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/CriarGraficoDeVolumetriaMensal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GraficoQuantidadePorTipo">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/GraficoQuantidadePorTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResumoAtual">
      <soap:operation soapAction="http://tempuri.org/IDashboardService/ResumoAtual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DashboardService">
    <wsdl:port name="BasicHttpBinding_IDashboardService" binding="tns:BasicHttpBinding_IDashboardService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/Dashboard/DashboardService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>