Solicita.TG/Solicita.TG.UI.View/Service References/AcessoService/Solicita.TG.Servi%C3%A7os.Acesso.Modelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Acesso.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Acesso.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UsuarioLogado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoValue" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioLogado" nillable="true" type="tns:UsuarioLogado" />
  <xs:complexType name="ArrayOfAcessoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AcessoModel" nillable="true" type="tns:AcessoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAcessoModel" nillable="true" type="tns:ArrayOfAcessoModel" />
  <xs:complexType name="AcessoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDeUsuario" nillable="true" type="tns:AcessoModel.TipoDeUsuarioModel" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcessoModel" nillable="true" type="tns:AcessoModel" />
  <xs:complexType name="AcessoModel.TipoDeUsuarioModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="NomeDoTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcessoModel.TipoDeUsuarioModel" nillable="true" type="tns:AcessoModel.TipoDeUsuarioModel" />
  <xs:complexType name="InfoDeLogon">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcessoLiberado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeDoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDeUsuario" nillable="true" type="tns:AcessoModel.TipoDeUsuarioModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoDeLogon" nillable="true" type="tns:InfoDeLogon" />
  <xs:complexType name="ArrayOfTiposModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TiposModel" nillable="true" type="tns:TiposModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTiposModel" nillable="true" type="tns:ArrayOfTiposModel" />
  <xs:complexType name="TiposModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiposModel" nillable="true" type="tns:TiposModel" />
</xs:schema>