Solicita.TG/SOLICITA.TG.UI/Service References/AlunoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlunoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.Aluno.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlunoService_CriarAluno_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarAluno" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_CriarAluno_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarAlunoResponse" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_CriarAluno_MyServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" name="detail" element="q1:MyServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_Get_MyServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" name="detail" element="q2:MyServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_ListarTodosAlunos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosAlunos" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_ListarTodosAlunos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosAlunosResponse" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_AlterarAluno_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarAluno" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_AlterarAluno_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarAlunoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlunoService">
    <wsdl:operation name="CriarAluno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/CriarAluno" message="tns:IAlunoService_CriarAluno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/CriarAlunoResponse" message="tns:IAlunoService_CriarAluno_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAlunoService/CriarAlunoMyServiceFaultFault" name="MyServiceFaultFault" message="tns:IAlunoService_CriarAluno_MyServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/Get" message="tns:IAlunoService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/GetResponse" message="tns:IAlunoService_Get_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAlunoService/GetMyServiceFaultFault" name="MyServiceFaultFault" message="tns:IAlunoService_Get_MyServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodosAlunos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/ListarTodosAlunos" message="tns:IAlunoService_ListarTodosAlunos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/ListarTodosAlunosResponse" message="tns:IAlunoService_ListarTodosAlunos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarAluno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/AlterarAluno" message="tns:IAlunoService_AlterarAluno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/AlterarAlunoResponse" message="tns:IAlunoService_AlterarAluno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlunoService" type="tns:IAlunoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarAluno">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/CriarAluno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyServiceFaultFault">
        <soap:fault use="literal" name="MyServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyServiceFaultFault">
        <soap:fault use="literal" name="MyServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTodosAlunos">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/ListarTodosAlunos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarAluno">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/AlterarAluno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlunoService">
    <wsdl:port name="BasicHttpBinding_IAlunoService" binding="tns:BasicHttpBinding_IAlunoService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/Aluno/AlunoService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>