Solicita.TG/Solicita.TG.UI.View/Service References/ProcessadorDeArquivoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessadorDeArquivoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProcessadorDeArquivoService_ProcessarExcel_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessarExcel" />
  </wsdl:message>
  <wsdl:message name="IProcessadorDeArquivoService_ProcessarExcel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessarExcelResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessadorDeArquivoService_DownloadExcelModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadExcelModelo" />
  </wsdl:message>
  <wsdl:message name="IProcessadorDeArquivoService_DownloadExcelModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadExcelModeloResponse" />
  </wsdl:message>
  <wsdl:portType name="IProcessadorDeArquivoService">
    <wsdl:operation name="ProcessarExcel">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessadorDeArquivoService/ProcessarExcel" message="tns:IProcessadorDeArquivoService_ProcessarExcel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessadorDeArquivoService/ProcessarExcelResponse" message="tns:IProcessadorDeArquivoService_ProcessarExcel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadExcelModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessadorDeArquivoService/DownloadExcelModelo" message="tns:IProcessadorDeArquivoService_DownloadExcelModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessadorDeArquivoService/DownloadExcelModeloResponse" message="tns:IProcessadorDeArquivoService_DownloadExcelModelo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProcessadorDeArquivoService" type="tns:IProcessadorDeArquivoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessarExcel">
      <soap:operation soapAction="http://tempuri.org/IProcessadorDeArquivoService/ProcessarExcel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadExcelModelo">
      <soap:operation soapAction="http://tempuri.org/IProcessadorDeArquivoService/DownloadExcelModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessadorDeArquivoService">
    <wsdl:port name="BasicHttpBinding_IProcessadorDeArquivoService" binding="tns:BasicHttpBinding_IProcessadorDeArquivoService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os.ProcessadorDeExcel/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>