Solicita.TG/Solicita.TG.UI.View/Service References/FuncionarioAcademicoService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.FuncionarioAcademico.Modelos" />
  <xs:element name="CriarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sobrenome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoResponsavel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CriarFuncionarioResult" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosFuncionarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosFuncionariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.FuncionarioAcademico.Modelos" minOccurs="0" name="ListarTodosFuncionariosResult" nillable="true" type="q2:ArrayOfFuncionarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.FuncionarioAcademico.Modelos" minOccurs="0" name="GetResult" nillable="true" type="q4:FuncionarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDeResponsável">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDeResponsávelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.FuncionarioAcademico.Modelos" minOccurs="0" name="ListarTipoDeResponsávelResult" nillable="true" type="q5:ArrayOfTipoDeResponsavelModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.FuncionarioAcademico.Modelos" minOccurs="0" name="ListarPorNomeResult" nillable="true" type="q6:ArrayOfFuncionarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>