Solicita.TG/Solicita.TG.UI.View/Service References/FuncionarioAcademicoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FuncionarioAcademicoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.FuncionarioAcademico.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFuncionarioAcademicoService_CriarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarFuncionario" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_CriarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_CriarFuncionario_MyServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" name="detail" element="q1:MyServiceFault" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_ListarTodosFuncionarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosFuncionarios" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_ListarTodosFuncionarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosFuncionariosResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_ListarTipoDeResponsável_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoDeResponsável" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_ListarTipoDeResponsável_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoDeResponsávelResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_ListarPorNome_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorNome" />
  </wsdl:message>
  <wsdl:message name="IFuncionarioAcademicoService_ListarPorNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorNomeResponse" />
  </wsdl:message>
  <wsdl:portType name="IFuncionarioAcademicoService">
    <wsdl:operation name="CriarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/CriarFuncionario" message="tns:IFuncionarioAcademicoService_CriarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/CriarFuncionarioResponse" message="tns:IFuncionarioAcademicoService_CriarFuncionario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/CriarFuncionarioMyServiceFaultFault" name="MyServiceFaultFault" message="tns:IFuncionarioAcademicoService_CriarFuncionario_MyServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodosFuncionarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/ListarTodosFuncionarios" message="tns:IFuncionarioAcademicoService_ListarTodosFuncionarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/ListarTodosFuncionariosResponse" message="tns:IFuncionarioAcademicoService_ListarTodosFuncionarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/Get" message="tns:IFuncionarioAcademicoService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/GetResponse" message="tns:IFuncionarioAcademicoService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTipoDeResponsável">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/ListarTipoDeResponsável" message="tns:IFuncionarioAcademicoService_ListarTipoDeResponsável_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/ListarTipoDeResponsávelResponse" message="tns:IFuncionarioAcademicoService_ListarTipoDeResponsável_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorNome">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/ListarPorNome" message="tns:IFuncionarioAcademicoService_ListarPorNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionarioAcademicoService/ListarPorNomeResponse" message="tns:IFuncionarioAcademicoService_ListarPorNome_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFuncionarioAcademicoService" type="tns:IFuncionarioAcademicoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarFuncionario">
      <soap:operation soapAction="http://tempuri.org/IFuncionarioAcademicoService/CriarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyServiceFaultFault">
        <soap:fault use="literal" name="MyServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTodosFuncionarios">
      <soap:operation soapAction="http://tempuri.org/IFuncionarioAcademicoService/ListarTodosFuncionarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IFuncionarioAcademicoService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoDeResponsável">
      <soap:operation soapAction="http://tempuri.org/IFuncionarioAcademicoService/ListarTipoDeResponsável" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorNome">
      <soap:operation soapAction="http://tempuri.org/IFuncionarioAcademicoService/ListarPorNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FuncionarioAcademicoService">
    <wsdl:port name="BasicHttpBinding_IFuncionarioAcademicoService" binding="tns:BasicHttpBinding_IFuncionarioAcademicoService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/Funcionario/FuncionarioAcademicoService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>