Solicita.TG/Solicita.TG.UI.View/Service References/FuncionarioAcademicoService/Solicita.TG.Servi%C3%A7os.FuncionarioAcademico.Modelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.FuncionarioAcademico.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os.FuncionarioAcademico.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" />
  <xs:complexType name="ArrayOfFuncionarioModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuncionarioModel" nillable="true" type="tns:FuncionarioModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionarioModel" nillable="true" type="tns:ArrayOfFuncionarioModel" />
  <xs:complexType name="FuncionarioModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Solicita.TG.Servi%C3%A7os" base="q1:EntityModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sobrenome" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FuncionarioModel" nillable="true" type="tns:FuncionarioModel" />
  <xs:complexType name="ArrayOfTipoDeResponsavelModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoDeResponsavelModel" nillable="true" type="tns:TipoDeResponsavelModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoDeResponsavelModel" nillable="true" type="tns:ArrayOfTipoDeResponsavelModel" />
  <xs:complexType name="TipoDeResponsavelModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoDeResponsavelModel" nillable="true" type="tns:TipoDeResponsavelModel" />
</xs:schema>